.row-fluid .span12 {
    margin-top: 2%;
}

h4 {
    text-align: right;
    line-height: 10px;
}

form {
    border: thin solid #CCCCCC;
    margin: 0 auto;
    max-width: 80%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.row-fluid .span6 {
    width: 100%;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    margin-right: 12px;
    padding: 10px 40px;
}

.well .control-group {
    padding: 10px 15px;
}